#mySlider.carousel.slider(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='mySlide' data-slide-to='0')
      li(data-target='mySlide' data-slide-to='1')
      li(data-target='mySlide' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.img-fluid(src='http://placehold.it/900x350' alt='')
      .carousel-item
        img.d-block.img-fluid(src='http://placehold.it/900x350' alt='')
      .carousel-item
        img.d-block.img-fluid(src='http://placehold.it/900x350' alt='')
    a.carousel-control-prev(href='#mySlider' data-slide='prev')
      span.carousel-control-prev-icon
    a.carousel-control-next(href='#mySlider' data-slide='next')
      span.carousel-control-next-icon